<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Hakkımızda</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
        <li class="breadcrumb-item"><a href="#">Sayfalar</a></li>
        <li class="breadcrumb-item active text-white">Hakkımızda</li>
    </ol>
</div>
<!-- Single Page Header End -->
<h1> Bilgisayar ekranından gerçekliğe! </h1>
<br />
<br />
<h3>Üreticiden tüketiciye...</h3>

<p> Ata tohumlardan üretilmiş sağlıklı ve lezzetli yerel ürünlerimizi, üreticen tüketiciye aracısız ulaştırabilmek için kurduğumuz hayalin sonucunda, işte buradayız!  </p>
